/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
body {
    background: #F0F0F5;
    -webkit-font-smoothing: antialiased;
    color: var(--text-color);
}

.centralize {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

html, body { 
    height: 100%; 
}

/* body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */

.example-full-width {
    width: 100%;
}