.static-data {
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-gap: 20px;
    
    padding-bottom: 6px;
    border-bottom: 2px solid;
}

.container-form-reactive {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    border: 1px solid black !important;
    margin-top: 1rem;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.backend-data {
    border: 1px solid;
    padding: 2rem;
    margin: 2rem;
    border-radius: 1rem;
}

.backend-data h2 {
    text-align: center;
}


