.home {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    margin: 1rem;

    .data {
        border: 1px solid;
        padding: 2rem;
        border-radius: 1rem;

        .book-data {
            cursor: pointer;
            border-radius: 1rem;
            background: blueviolet;
            color: white;
            padding: .2rem 1.4rem;

            display: flex;
            justify-content: space-between;
            align-items: center;

            small {
                color: red;
            }
        }
    }
}

.button {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;

    button {
        padding: 0.6rem;
        background: burlywood;
        border: none;
    }
}

