<h1>FORMULÁRIO: LIVRO</h1>

<div class="form">

    <div class="block-input">
        <label for="titulo">Título  </label>
        <input type="text" name="" id="titulo" [(ngModel)]="livro.titulo">
    </div>

    <div class="block-input">
        <label for="area">Área de Conhecimento  </label>
        <input type="text" name="" id="area" [(ngModel)]="livro.areaConhecimento">
    </div>

    <div class="block-input">
        <label for="codigo">Código de Catalogação  </label>
        <input type="text" name="" id="codigo" [(ngModel)]="livro.codigoCatalogacao">
    </div>

    <div class="block-input">
        <label for="isbn">ISBN  </label>
        <input type="text" name="" id="isbn" [(ngModel)]="livro.isbn">
    </div>

</div>

<button>Salvar</button>

